    .cart-icon {
  position: fixed;
  top: 10px;
  right: 20px;
  cursor: pointer;
}
#cart{
  position: relative;
  right: 13px;
}
#cart-count {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px;
  position: absolute;
  top: 0;
  right: 0;
}
.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 65%;
  height: 14%;
}
 @media(min-width: 605px){
    .modal-content {
           width: 65%;
  height: 25%;
        }
}
.modal-content button{
  margin-top: 15px;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.wrap{
  max-width: 1200px;
              margin: 0 auto;
                margin-top: 30px;
  margin-bottom: 30px;
            padding: 20px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap; /* Дозволяє блокам переноситися на новий ряд при необхідності */
}
.product {
            flex: 0 0 30%; /* 30% ширини контейнера; можна змінити за потребою */
            box-sizing: border-box;
            border: 1px solid #ddd;
            padding: 10px;
            margin-bottom: 20px;
            background-color: white;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            text-align: center;
 box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease-in-out;
        }

        .product:hover {
            transform: scale(1.05);
        }
        @media screen and (max-width: 768px) {
            .product {
                flex: 0 0 50%; /* При розширенні екрану менше 768px, блоки розтягуються на всю ширину */
         padding-left: 10px;
            }
        }
        @media screen and (max-width: 450px) {
            .product {
                flex: 0 0 100%; /* При розширенні екрану менше 768px, блоки розтягуються на всю ширину */
         padding-left: 10px;
            }
          }

h3  {
   font-weight: 400;
   color: #444444;
   margin: 0 0 10px 0;
}
.price1, .price2, .price3, .price4 {
   font-size: 17px;
   color: indigo;
   display: block;
   margin-bottom: 12px;
}
#button1, #button3, #button4{
   text-decoration: none;
   display: inline-block;
   padding: 0 12px;
   background: green;
   color: white;
   text-transform: uppercase;
   font-size: 12px;
   line-height: 28px;
   transition: .3s ease-in;
}
#button2 {
   text-decoration: none;
   display: inline-block;
   padding: 0 12px;
   background: orange;
   color: white;
   text-transform: uppercase;
   font-size: 12px;
   line-height: 28px;
   transition: .3s ease-in;
}
.product-wrapper {
  display: block;
  width: 100%;
  float: left;
  transition: width .2s;
}
